body {
  margin: 0;
  background-color: #fff;
  font-family: 'Avenir', Helvetica, sans-serif;
}

.cadastro{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lista {
  margin-top: 3px;
  margin-left: 3px;
  margin-bottom: 3px;
}